Flask
flask-restful
requests
flask-cors
pymongo
Flask-PyMongo
dnspython
scikit-learn
pyannote.audio
langchain 
google-generativeai
langchain-google-genai
python-dotenv
langchain-google-vertexai
google-api-python-client>=2.100.0
mypy
wikipedia
numexpr
langchain-mongodb
langchainhub
SpeechRecognition
